<?xml version = '1.0' encoding = 'UTF-8' ?>
<widget
    android-versionCode = '1'
    id = "com.CJ.AnehMamak"
    version = '1.0.0'
    xmlns = 'https://www.w3.org/ns/widgets'>

    <name>AnehMamak</name>
    <description>Best Mamak in Kedah</description>
    <author>CJ</author>

    <preference name = 'orientation' value = 'portrait'/>

</widget>